
    <h2>Dashboard</h2>
    
  <div class= " container col-sm-12">

     <!--Icons-->

    <table>
        <tr>

            <td>
                <div class="dash-icon">

                    <a routerLink="/dashboard/jobs"  routerLinkActive="Active" ><mat-icon>work</mat-icon></a>
                    <h4>Jobs</h4>
                
                </div>

            </td>

            <td>

    <div class="dash-icon">
        <a routerLink="/dashboard/candidates"  routerLinkActive="Active"  ><mat-icon>list</mat-icon></a>
        <h4> candidates</h4>
                
    </div>
                
            </td>
            


            <td>
                <div class="dash-icon">

                    <a routerLink="/dashboard/postjobs"  routerLinkActive="Active"  ><mat-icon>add</mat-icon></a>
                    <h4>Add Job</h4>
                
                </div>
                
            </td>
            <td>
                <div class="dash-icon">
                    <a  routerLink="/dashboard/profile"  routerLinkActive="Active" ><mat-icon>person_outline</mat-icon></a>
                    <h4>Profile</h4>
                     
                
                </div>
               
                
            </td>



        </tr>
    </table>


    <!--Icons-->
    

  </div>
