.sidenav-container{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0; 
    height: 100%;
    margin-top: 3rem; 
   
  }

  .sidenav{
       background: #2c3e50;
        width: 120px;
       
        color: white;
  }

  a{
      text-decoration: none;
      color: white;
  }
